# LOCAL
SONAR_TOKEN="squ_xxxxxxxxxx"
SONAR_HOST_URL="http://sonarqube:9000"


# PROD
# SONAR_TOKEN="squ_xxxxxxxxxx"
# SONAR_HOST_URL="https://sonar.apps.applaudo.dev"


SONAR_PROJECT_KEY="example-client.example-project-api"

SNYK_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"  # get it from https://app.snyk.io/account
